/* thanh filter */
.filter-bar {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;

  background: #fff;
  padding: 16px;
  border-radius: 8px;
}

/* input search */
.search-input {
  width: 200px;
}

/* select */
.filter-select {
  width: 180px;
}

/* sort */
.sort-select {
  width: 200px;
}

/* button */
.add-btn {
  margin-left: auto;
}